*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
/VCApp/*.suo
/VCApp/Bin
/VCApp/VCApp.v12.suo
/VCApp/.vs
/app/release
/app/debug
/VCApp/Build
/app/.cxx
